input.text_into_input_color::-moz-placeholder {color:blue;} 

body {
    font-family: Cambria,Georgia,serif;  
}

label {
    font-size: 20px;
    margin: 10px;
}
h1, h2 {
  text-align: center;
}

fieldset {
    border-radius: 15px;
    max-width: 640px;
    /*background: #E1F5FE;*/
    background: #f4e3f5;
}

 button {
   justify-self: center; 
position: relative;

transform: translate(50%, 0); 
      display: inline-block;
      background-color: #7b38d8;
      border-radius: 10px;
      border: 4px double #cccccc;
      color: #eeeeee;
      text-align: center;
      font-size: 15px;
      padding: 12px;
      width: 200px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
      }

      button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
      }

      button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
      }
      button:hover {
      background-color: #f7c2f9;
      }
      button:hover span {
      padding-right: 15px;
      }
      button:hover span:after {
      opacity: 1;
      right: 0;
      }

select {
    font-size: 16px;
    border-radius: 15px;
     margin: 10px;
}
input {
    font-size: 16px;
    border-radius: 15px;
     margin: 30px;
  justify-self: center; 
position: relative;
left: 20%;
transform: translate(-50%, 0); 
   padding: 12px;
      width: 200px;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 10px;
    justify-items: start;       
}